/* Mobile */
@media screen and (max-width: 768px) {
  .bodywidth {
    padding: 0;
  }
  p,
  li {
    margin: 0;
    padding: 0.2rem 0.17rem 1.5rem 0.17rem !important;
  }
  .p_grid {
    padding: 0;
  }
  h6 {
    padding: 0.7rem 0 0 0;
  }
  .interns {
    padding: 0 2.5rem;
    margin: 0;
  }
}

/* Jumbotron Text */
h1 {
  letter-spacing: 0.18rem;
  font-size: 3rem;
}

h3 {
  /* letter-spacing: .12rem; */
  margin: 2rem 0 0.5rem 0;
}

h6 {
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

p {
  line-height: 1.5rem;
  padding: 0 2rem;
}

/* About the Clinic Page */
#mission {
  padding: 1rem;
  /* border-left-style: solid; */
  /* border-right-style: solid; */
  border-width: 0.07rem;
  border-color: #e0dedc;
  margin: 3.5rem 0;
}
#mission h6 {
  margin: 1.5rem 0 0 0;
  padding: 0;
}
.card-header {
  text-align: center;
  background-color: #eee3a7;
}
.card-header:hover {
  cursor: pointer;
}
.card {
  background-color: transparent;
}

/* Our Team Page */
.boardMember {
  margin: 1.5rem 0;
}
