/* Jumbotron Text */
h1 {
  letter-spacing: .18rem;
  font-size: 3rem;
}

h3 {
  letter-spacing: .12rem;
  margin: 2rem 0 0.5rem 0;
}

h6 {
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

p {
  line-height: 1.5rem;
  padding: 0 2rem;
}

/* Mission Statement */
#mission {
  padding: 2rem;
  border-left-style: solid;
  border-right-style: solid;
  border-width: .07rem;
  border-color: #E0DEDC;
  margin: 5rem 0;
}
#mission h6 {
  margin: 1.5rem 0 0 0;
  padding: 0;
}
