body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Merriweather", "Noto Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #faf8ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* jumbotron images */
.about_jumbo {
  background: url(./assets/campus.jpg) center;
}

.ourteam_jumbo {
  background: url(./assets/ourteam.jpg) center;
}

.ourservices_jumbo {
  background: url(./assets/hygieneproducts.jpg) center;
}

.internapp_jumbo {
  background: url(./assets/internapp.png) center;
}

.corevalues_jumbo {
  background: url(./assets/corevalues.png) center;
}

p,
li {
  font-size: 15px;
}

.bodywidth {
  padding: 0 4rem;
}
