body {
  margin: 0;
  font-family: 'Merriweather', 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAF8EC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* jumbotron images */
.about_jumbo {
  background: url(./assets/campus.jpg) center;
}

.ourteam_jumbo {
  background: url(./assets/ourteam.jpg) center;
}

.ourservices_jumbo {
  background: url(./assets/hygieneproducts.jpg) center;
}

